<div class="container">
  <h1>Submit a new survey</h1>

  <form ng-hide="surveysNew.surveyInitiated" ng-submit="surveysNew.submitSurvey()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" ng-model="surveysNew.survey.title">
    </div>
    <div class="form-group">
      <label for="title">Start Date</label>
      <input type="date" class="form-control" ng-model="surveysNew.survey.started">
    </div>
    <div class="form-group">
      <label for="title">Finish Date</label>
      <input type="date" class="form-control" ng-model="surveysNew.survey.finished">
    </div>
    <div class="form-group">
      <input class="btn btn-success" type="submit" name="submit" value="Submit">
    </div>
  </form>
</div>






<!-- <div class="container">
  <form ng-hide="surveysNew.surveyInitiated" ng-submit="surveysNew.submitSurvey()">
    <input type="text" placeholder="Title of survey" ng-model="surveysNew.survey.title">
    <input type="date" ng-model="surveysNew.survey.started">
    <input type="date" ng-model="surveysNew.survey.finished">
    <input type="submit" name="submit" value="Submit">
  </form>

  <div ng-show="surveysNew.surveyInitiated">
    <h1>Thank you for starting your new survey "{{surveysNew.surveyInitiated.title}}"</h1>
    <div ng-hide="surveysNew.questionTypeChosen">
      <h4>Choose the type of question to add</h4>
      <form ng-submit="surveysNew.chooseQuestionType()">
        <select ng-model="surveysNew.pendingType" name="questionType">
          <option value="boolean">Yes/No</option>
          <option value="integer">Scalar</option>
          <option value="text">Narrative</option>
        </select>
        <input type="submit" name="" value="Submit">
      </form>
    </div>
    <div ng-show="surveysNew.questionTypeChosen">
      <form ng-submit="surveysNew.addQuestion()">
        <input placeholder="What's your question" type="text" ng-model="surveysNew.question.question_text" value="">
        <input type="submit" name="" value="Save Question">
      </form>
    </div>
    <div ng-show="surveysNew.surveyInitiated.questions.length">
      <h2>Questions so far on this survey</h2>
      <ul>
        <li ng-repeat="question in surveysNew.surveyInitiated.questions">
          <p>{{question.question_text}}</p>
        </li>
      </ul>
    </div>
    <div ng-show="surveysNew.surveyInitiated.questions.length">
      <button type="button" ng-click="surveysNew.finishSurvey()">Finish Survey</button>
    </div>
  </div>
</div> -->
