<div class="container">
  <div class="row">
    <div class="user-details">
      <div class="col-md-2">
        <img ng-src="../images/{{usersShow.user.image}}" class="avatar" alt="">
      </div>
      <div class="col-md-10">
        <h1 class="user-name">{{usersShow.user.first_name}} {{usersShow.user.last_name}}</h1>
        <h4>Email: <a ng-href="{{mailLink}}">{{usersShow.user.email}}</a></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ui-sref="surveysNew" class="card">
        <div class="centered">
          <h2>Create New Survey</h2>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h2>My Surveys:</h2>
        <ul class="list-unstyled">
          <li ng-repeat="survey in usersShow.user.surveys">
            <p ui-sref="surveyShow({ id: survey.id })">{{ survey.title }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h2>Surveys You Might Like:</h2>
      </div>
    </div>
  </div>
</div>
