<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Submit a new survey</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form ng-hide="surveysNew.surveyInitiated" ng-submit="surveysNew.submitSurvey()">
        <div class="form-group">
          <label for="title">Survey Title</label>
          <input type="text" class="form-control" ng-model="surveysNew.survey.title">   </div>
          <div class="form-group">
            <label for="title">Start Date</label>      <input type="date" class="form-control" ng-model="surveysNew.survey.started">
          </div>
          <div class="form-group">
            <label for="title">Finish Date</label>
            <input type="date" class="form-control" ng-model="surveysNew.survey.finished">
          </div>
          <div class="form-group">
            <input class="btn btn-success" type="submit" name="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div ng-show="surveysNew.surveyInitiated">
          <h1>Thank you for starting your new survey "{{surveysNew.surveyInitiated.title}}"</h1>
          <div ng-hide="surveysNew.questionTypeChosen">
            <h4>Choose the type of question to add</h4>
            <form ng-submit="surveysNew.chooseQuestionType()">
              <div class="form-group">
                <select ng-model="surveysNew.pendingType" name="questionType">
                  <option value="boolean">Yes/No</option>
                  <option value="integer">Scalar</option>
                  <option value="text">Narrative</option>
                </select>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" name="" value="Submit">
              </div>
            </form>
          </div>
          <div ng-show="surveysNew.questionTypeChosen">
            <form ng-submit="surveysNew.addQuestion()">
              <div class="form-group">
                <input placeholder="What's your question" type="text" class="form-control"  ng-model="surveysNew.question.question_text" value="">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" name="" value="Save Question">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-wide">
          <div ng-show="surveysNew.surveyInitiated.questions.length">
            <h2>Questions so far on this survey</h2>
            <ul>
              <li ng-repeat="question in surveysNew.surveyInitiated.questions">
                <p>{{question.question_text}}</p>
              </li>
            </ul>
          </div>
          <div ng-show="surveysNew.surveyInitiated.questions.length">
            <button type="button" class="btn btn-success" ng-click="surveysNew.finishSurvey()">Finish Survey</button>
          </div>
        </div>
      </div>
    </div>
  </div>
