<h2>Results for: {{ answersIndex.survey.title }}</h2>

<div ng-repeat="questionSummary in answersIndex.survey.summary track by $index">
  <h2>Question {{ $index + 1 }}</h2>
  <p>{{ questionSummary.question.question_text }}</p>

  <div ng-if="questionSummary.question.question_type == 'boolean'" style="height:300px; width:300px;">
    <canvas
      id="pie"
      class="chart chart-pie"
      chart-data="questionSummary.summary.data"
      chart-labels="questionSummary.summary.labels">
    </canvas>
  </div>

  <div ng-if="questionSummary.question.question_type == 'integer'" style="height:400px; width:700px;">
    <canvas
      id="bar"
      class="chart chart-bar"
      chart-data="questionSummary.summary.data"
      chart-labels="questionSummary.summary.labels">
    </canvas>
  </div>

  <ul ng-if="questionSummary.question.question_type == 'text'">
    <li ng-repeat="answer in questionSummary.summary track by $index">
      {{ answer}}
    </li>
  </ul>
</div>
