// Import all of your scss files here
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}

h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

form {
  border-radius: 4px;
  padding: 15px;
  background-color: #f9f9f9;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}


.card {
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
  min-height: 275px;
  margin: 5px -15px 5px 0px;

  .glyphicon-plus {
    color: #e00;
    cursor: pointer;
    font-size: 110px;
    font-weight: bolder;
  }



  ul {
    margin: 25px;
    li {
      list-style-type: disc;
      font-size: 18px;
      margin: -5px 10px;
      line-height: 40px;

      p {
        cursor: pointer;
        padding-left: 10px;

        &:hover {
          background-color: rgba(255, 0, 0, 0.1);
          border-radius: 4px;
          font-weight: 800;
        }
      }

    }
  }
}

.card-wide {
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 10px 0px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #000;
  border-color: #000;
}

.navbar-brand {
  height: auto;
}

.navbar-default .navbar-brand, .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
  color: #eee;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-text:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #e00;
}

.homepage {
  background-image: url(../images/background_sml.jpg);
  background-size: cover;
  height: 120vh;
  text-align: center;
}

.homepage-title {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  max-width: 60%;
  padding: 10px;
}

.homepage-image {
  margin-top: -135px;
}

.comment-indent {
  padding-left: 1em;
}

.btn-results {
  line-height: 2.5em;
  margin: 0.5em auto 2em auto;
  max-width: 60%;
}

.avatar {
  border-radius: 50%;
}

.user-details {
  clear: both;
  margin-top: 2em;
  margin-bottom: 2em;
}
.user-name {
  margin-top: 0.8em;
}
